xdebug.client_host = localhost
xdebug.start_with_request = yes
xdebug.discover_client_host = 0
xdebug.mode = debug
xdebug.remote_handler = "dbgp"
xdebug.client_port = 9003
xdebug.log = /var/log/xdebug.log
